body {background-color: #E0FCB8; alignment-baseline: center;}
button {color: #E0FCB8; background: #557627; border-color: #0C1400; border-radius: 6px;
    width: 150px; height: 50px; font-size: large}
input {border-color: #0C1400; background: #E6FAD0; width: 200px; height: 20px; font-size: 16px}
p, div {color: #0C1400; font-size: large;
    font-family: Arial, serif}
h1, h3, h4 {color: #0C1400; font-family: Arial, serif}
table {background-color: #E6FAD0; border: 2px #0C1400;
        color: #0C1400; text-align: center; width: 100%; border-collapse: collapse;
        font-size: 16px; font-family: Arial, serif;}
tr, td {background-color: #E6FAD0; border: 2px #0C1400; color: #0C1400; text-align: center}
caption {background-color: #557627; color: #E0FCB8; border: #0C1400 3px;
        font-size: 20px; font-family: Arial, serif;}